
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read and write access by anyone.
      // WARNING: This is insecure. It's recommended to implement
      // proper authentication for production applications.
      allow read, write;
    }
  }
}
